<p>
  El precio total es: $ {{total}}
</p>
<p>
  Today: {{today | date: 'short'}}
</p>
<button (click)="createNewProduct()">create</button>
<div class="products--grid">
  <app-product [product]="product" *ngFor="let product of products"
  (addedProduct)="onAddToShoppingCart($event)"
  (showProduct)="onShowDetail($event)"
  ></app-product>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  <div *ngIf="productChosen" class="">
    <button id="close" (click)="toggleProductDetail()">X</button>
    <swiper>
      [slidesPerView]="2"
      [navigation]="true"

       <ng-template swiperSlide *ngFor="let img of productChosen.images ">
         <img [src]="img">
       </ng-template>
    </swiper>
    <h1>{{productChosen.title}}</h1>
    <p class="pri">${{productChosen.price}}</p>
    <p class="description"> {{productChosen.description}}</p>
    <button id="edit" (click)="updateProduct()" >Editar Producto</button>
    <button id="edit" (click)="deleteProduct()" >Eliminar Producto</button>

  </div>
</div>
