

h2,p {
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;

}
button{
  background-color: #4CAF50;
  margin-left: 10%;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  text-decoration: none;
  color:white;
  padding: 10px 20px;
  margin-top: 2%;
  margin-bottom: 2%;
}
